.about-content {
  @media screen and (min-width: 480px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @media screen and (min-width: 1200px) {
    position: inherit;
    width: auto;
    height: auto;
    clip-path: inset(0%);
    overflow: visible;
    padding-bottom: 94px;
  }
}

.about-content__title {
  color: var(--work-color-title);
  margin-top: 0px;
  margin-bottom: 50px;
}

.about-content__list {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0px 0px;
}

.about-content__item {
  width: 370px;
  height: 294px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-content__top-text {
  position: absolute;
  top: 224px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ffffff;
}
