.header {
  @media screen and (min-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    .container {
      display: flex;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    height: 80px;
    .container {
      display: flex;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    .container {
      display: flex;
      align-items: center;
    }
  }
}

.header__logo {
  font-family: "Raleway";
  display: block;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    margin-right: 94px;
  }
}

.header__logo {
  color: var(--header-color-logo);
}

.logo__word--dark {
  color: var(--header-color-word);
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  margin-top: 3px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: 400ms;
  cursor: pointer;
  &:hover .icon-menu {
    fill: #2196f3;
  }
  &:focus .icon-menu {
    fill: #2196f3;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: 400ms;
  cursor: pointer;
  &:hover .icon-cross {
    fill: #2196f3;
  }
  &:focus .icon-cross {
    fill: #2196f3;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffff;
  width: 100vw;
  height: 100vw;
  padding-top: 48px;
  padding-bottom: 48px;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

.mob-menu-list {
  padding: 0;
}
.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}

.link-studio--menu-activity {
  content: "";
  display: inline-flex;
  flex-direction: column-reverse;
  width: 31%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: opacity 250ms;
}

.link-portfolio--menu-activity {
  content: "";
  display: inline-flex;
  flex-direction: column-reverse;
  width: 50%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: opacity 250ms;
}

.mob-connect__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  margin-top: 32px;
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}

.mob-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}

.mob-soc-list {
  display: flex;
  align-items: center;
  padding: 0;
}
.mob-soc-list__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #757575;
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover {
    color: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
  &:not(:last-child)::after {
    display: inline-block;
    left: 100%;
    transform: translateX(10px);
    content: "";
    width: 1px;
    height: 22px;
    border-radius: 2px;
    background-color: #c4c4c4;
    @media screen and (max-width: 399px) {
      display: none;
    }
  }
  &::before {
    display: inline-block;
    position: absolute;
    transform: translateX(-10px);
    content: "";
    width: 1px;
    height: 22px;
    border-radius: 2px;
    background-color: #c4c4c4;
    @media screen and (min-width: 400px) {
      display: none;
    }
  }
  @media screen and (max-width: 400px) {
    margin-bottom: 10px;
    width: 33%;
  }
}

// .header-button .icon-cross {
//   display: none;
// }

// .header-button.is-open .icon-cross {
//   display: block;
// }

// .header-button.is-open .icon-menu {
//   display: none;
// }

.menu-list {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
    margin: 5px 0px;
    margin-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0px;
    margin: 0px 0px;
    margin-right: 0px;
  }
}

.link-studio--activity::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: opacity 250ms;
}

.link-portfolio--activity::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;

  transition: opacity 250ms;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color-nav);
  transition: 250ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--hover-focus);
  }
  &:hover::after {
    opacity: 1;
  }
}

.header__connect {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0px;
  }
}

.connect__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
  fill: #757575;
  transition: 250ms linear;
  cursor: pointer;
  .connect__mailto:hover & {
    fill: currentColor;
  }
  .connect__mailto:focus & {
    fill: currentColor;
  }
  .connect__tel:hover & {
    fill: currentColor;
  }
  .connect__tel:focus & {
    fill: currentColor;
  }
}

.connect__tel,
.connect__mailto {
  color: var(--header-color-contact);
  &:hover,
  &:focus {
    color: var(--hover-focus);
  }
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    color: var(--header-color-contact);
    &:hover,
    &:focus {
      color: var(--hover-focus);
    }
  }
}

.connect__mailto {
  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: var(--hover-focus);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
