:root {
  --hover-focus: #2196f3;
  --header-color-logo: #2196f3;
  --header-color-word: black;
  --header-color-contact: #757575;
  --header-color-nav: #212121;
  --hero-color-bg: #2f303a;
  --hero-color-bgh: #2196f3;
  --hero-color-title: #ffffff;
  --hero-color-btn: #ffffff;
  --about-color-title: #212121;
  --about-color-text: #757575;
  --work-color-title: #212121;
  --team-color-bg: #f5f4fa;
  --team-color-text: #757575;
  --team-color-title: #212121;
  --team-color-name: #212121;
  --footer-color-bg: #2f303a;
  --fooret-color-words: #ffffff;
  --fooret-color-logo: #2196f3;
  --fooret-color-text: #ffffff;
  --footer-color-link: rgba(255, 255, 255, 0.6);
}
